@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-reactmos-blue-50: #eefbfd;
  --color-reactmos-blue-100: #d4f3f9;
  --color-reactmos-blue-200: #aee6f3;
  --color-reactmos-blue-300: #77d2e9;
  --color-reactmos-blue-400: #38b5d8;
  --color-reactmos-blue-500: #1c97bd;
  --color-reactmos-blue-600: #1a7aa0;
  --color-reactmos-blue-700: #1c6382;
  --color-reactmos-blue-800: #1f526b;
  --color-reactmos-blue-900: #1e445b;
  --color-reactmos-blue-950: #0e2c3e;
}
